.card_fp {
    transform: translate(120%, 10%);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    width: 30%;
} 
.lock-icon {
    font-size: 3rem;
}

.h5class {
    color: white;
    /* font-size: 1.5rem; */
    margin-top: 10px;
    text-transform: uppercase;
}
.h6class {
    color: white;
    font-size: 12px;
}
